In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('poc').getOrCreate()

In [4]:
transactions_df = spark.read.format("csv")\
                    .option("header", True)\
                    .option("inferSchema", True)\
                    .load("transactions_20250331.csv")

transactions_df.printSchema()
transactions_df.show()

root
 |-- transaction_id: integer (nullable = true)
 |-- store_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- transaction_date: date (nullable = true)
 |-- status: string (nullable = true)
 |-- payment_method: string (nullable = true)

+--------------+--------+-----------+------+----------------+-------+--------------+
|transaction_id|store_id|customer_id|amount|transaction_date| status|payment_method|
+--------------+--------+-----------+------+----------------+-------+--------------+
|          2001|    S001|       C001| 500.0|      2025-03-31|Success|   Credit Card|
|          2002|    S002|       C002| 250.0|      2025-03-31|Success|           UPI|
|          2003|    S001|       C003| 700.0|      2025-03-31|Success|    Debit Card|
|          2004|    S003|       C004| 900.0|      2025-03-31|Success|        Wallet|
|          2005|    S002|       C005| 150.0|      2025-03-31|Success|   Net Banking|
|          2006|    S002|       C006| 600.0|      2025-03-31|Success|           UPI|
|          2007|    S004|       C007| 750.0|      2025-03-31| Failed|   Credit Card|
+--------------+--------+-----------+------+----------------+-------+--------------+

In [5]:
stores_202502 = spark.read.format("csv")\
                    .option("header", True)\
                    .option("inferSchema", True)\
                    .load("stores_202502.csv")

stores_202502.printSchema()
stores_202502.show()

root
 |-- store_id: string (nullable = true)
 |-- store_name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- manager: string (nullable = true)
 |-- total_sales: integer (nullable = true)
 |-- last_updated: date (nullable = true)

+--------+--------------+---------+-------+-----------+------------+
|store_id|    store_name| location|manager|total_sales|last_updated|
+--------+--------------+---------+-------+-----------+------------+
|    S001|      ABC Mart|    Delhi|  Mr. A|   17000000|  2025-02-28|
|    S002|XYZ Superstore|   Mumbai|  Ms. B|   25000000|  2025-02-28|
|    S003| Fresh Grocers|Bangalore|  Mr. C|    9000000|  2025-02-28|
|    S004|   Mega Bazaar|     Pune|  Ms. D|   30000000|  2025-02-28|
+--------+--------------+---------+-------+-----------+------------+

In [6]:
stores_202503 = spark.read.format("csv")\
                    .option("header", True)\
                    .option("inferSchema", True)\
                    .load("stores_202503.csv")

stores_202503.printSchema()
stores_202503.show()

root
 |-- store_id: string (nullable = true)
 |-- store_name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- manager: string (nullable = true)
 |-- total_sales: integer (nullable = true)
 |-- last_updated: date (nullable = true)

+--------+--------------+---------+-------+-----------+------------+
|store_id|    store_name| location|manager|total_sales|last_updated|
+--------+--------------+---------+-------+-----------+------------+
|    S001|      ABC Mart|    Delhi|  Mr. A|   18500000|  2025-03-01|
|    S002|XYZ Superstore|   Mumbai|  Ms. B|   26800000|  2025-03-01|
|    S003| Fresh Grocers|Bangalore|  Mr. C|   10200000|  2025-03-01|
|    S005|    Urban Mart|Hyderabad|  Mr. E|    6000000|  2025-03-01|
+--------+--------------+---------+-------+-----------+------------+

In [7]:
import os
print(os.listdir())

['data.ipynb', 'full_load_monthly.py', 'incremental_daily.py', 'spark-warehouse', 'stores_202502.csv', 'stores_202503.csv', 'stores_202504.csv', 'transactions_20250331.csv', 'transactions_20250403.csv', 'transactions_20250404.csv']

In [8]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS transactions (
        store_id STRING,
        total_sales DOUBLE,
        no_of_transactions INT
    ) USING PARQUET
""")

DataFrame[]

In [9]:
spark.sql("SHOW TABLES").show()

+---------+------------+-----------+
|namespace|   tableName|isTemporary|
+---------+------------+-----------+
|  default|transactions|      false|
+---------+------------+-----------+

In [12]:
spark.sql("select * from transactions")

DataFrame[store_id: string, total_sales: double, no_of_transactions: int]

In [11]:
import os
print(f"Current working directory: {os.getcwd()}")

Current working directory: c:\Users\rupali.jain\Desktop\Assignment\Assignments\POC_pyspark